{% extends 'base.html' %}
{% block title %} | {{ post.title }} {% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container mt-2">
    <div class="row g-0">
        <div class="col-md-6 masthead-text p-1">
            <h1 class="post-title">{{ post.title }}</h1>
            {% if user.is_authenticated %}
                {% if user.id == post.owner.id %}
                <div class="container">
                    <div class="row">
                        <div>
                        <a href="{% url 'update_post' post.pk %}" aria-label="update post link">
                            <button class="btn btn-success col-md-3">
                                Update
                            </button>
                        </a>
                        <a href="{% url 'deletepost' post.pk %}" aria-label="delete post link">
                            <button class="btn btn-delete col-md-3">
                                Delete
                            </button>
                        </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}
            <p class="post-subtitle">{{ post.owner }} | {{ post.created_on }}</p>
        </div>
        <div class="d-none d-md-block col-md-6 masthead-image">
            <img class="post-image" src="{{ post.post_image.url }}" alt="Post image">
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="row">
            <div class="col-1 d-flex justify-content-center">
                {% if user.is_authenticated %}
                <form action="{% url 'post_like' post.pk%}" method='POST'>
                    {% csrf_token%}
                    {% if liked %}
                    <button type="submit" name="blogspot_id" value="{{post.pk}}" class="btn-like"><i class="fas fa-heart" ></i></button>
                    {% else %}
                    <button type="submit" name="blogspot_id" value="{{post.pk}}" class="btn-like"><i class="far fa-heart"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <span class="text-secondary"><i class="far fa-heart"></i></span>
                {% endif %}
                <strong class="text-secondary text-center"> {{ post.number_of_likes }} </strong>
            </div>
            <div class="col-2">
            {% with comments.count as total_comments %}
            <strong class="text-secondary"><i class="far fa-comments"></i>
                {{ total_comments }}</strong>
            </div>
            {% endwith %}
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row d-flex justify-content-center">
        <div class="card-body">
            <p class="card-text">
                {{ post.body | safe }}
            </p>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 card mb-5 mt-3 ml-3 mr-3 border">
            <h3>Comments:</h3>
            <div class="card-body">
                {% if comments %}
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        {{ comment.comment_body | linebreaks }}
                    </div>
                    {% endfor %}
                {% else %}
                <p>Be the first one to comment!</p>
                {% if user.is_authenticated %}
                {% else %}
                <p><a href="{% url 'account_login' %}" class="card-links mb-2 ml-3" aria-label="sign in to comment link">Sign In to comment</a></p>
                {% endif %}
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="col-md-5 card mb-4 mt-3 mr-3 border">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment has been sent.
                </div>
                {% else %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg bg-primary text-white">Submit</button>
                </form>  
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>

{% endblock content %}